@{
    ViewData["Title"] = "Status do Pedido";
}
<h1>Status do Pedido</h1>

<div id="statusArea">
    <p>Aguardando atualização...</p>
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@7.0.5/dist/browser/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("https://localhost:7042/deliveryHub?affiliateID=1")
        .build();

    connection.on("ReceiveDeliveryNotification", (deliveryID, status) => {
       processPendingDelivery(deliveryID, status);
    });

    connection.start()
        .then(() => console.log("Conectado ao SignalR Hub"))
        .catch(err => console.error("Erro ao conectar:", err));

    function processPendingDelivery(deliveryID, status){
        const statusArea = document.getElementById("statusArea");
        statusArea.innerHTML = `<p>DeliveryID: <b>${deliveryID}</b> </br>Status: <b>${status}</b></p>
                                <button id="acceptDeliveryButton">Accept Delivery</button>`;
        
        // Attach click event to the button after adding it to the DOM
        $('#acceptDeliveryButton').click(() => {
            acceptDelivery(deliveryID);
        });
    }

    function acceptDelivery(deliveryID) {
        // Make a POST request to the endpoint
        $.post("https://localhost:7042/change-delivery-status", { deliveryID: deliveryID })
            .done(response => {
                alert(response.message);
            })
            .fail(error => {
                console.error("Error accepting delivery:", error);
                alert("Failed to accept delivery. Please try again.");
            });
    }
</script>
